@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body, html {
    margin: 5px 0px;
    background-color: #74EBD5;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    font-family: 'Poppins', sans-serif;
}
.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.container {
    width: 200px;
    height: 50vh;
    border: 1px solid #74EBD5;
    border-radius: 7px;
    box-shadow: 0 0 10px 3px;
    margin: 15px;
    padding: 10px;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);


}